* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Inter", "Segoe UI", sans-serif;
  color: #111827;
  -webkit-font-smoothing: antialiased;
}



.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
}

.login-box {
  width: 380px;
  background: white;
  color: black;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.login-box h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #2563eb;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
}

.login-box input:focus {
  border-color: #2563eb;
}

.login-box button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background: #1d4ed8;
}


.dashboard {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header h1 {
  font-size: 40px;
}

.dashboard-header button {
  background: #ef4444;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.dashboard-header button:hover {
  background: #dc2626;
}

.welcome-text {
  margin-top: 10px;
  color: #cbd5e1;
  font-size: 18px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 25px;
  margin-top: 40px;
}

.cards .card {
  background: white;
  color: black;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.cards .card:hover {
  transform: translateY(-8px);
}

.cards .card h3 {
  margin-bottom: 15px;
  color: #475569;
}

.cards .card h1 {
  font-size: 48px;
  color: #2563eb;
}
